$black:#000;
$blue: #0079FE;
$deep-blue:#18298C;
$deep-yellow: #FFD115;
$shadow: #0000002D;
$red: #F52A47;
$error: #EA1C3A;
$foam-green:#43ED93;
$maddie-green:#4DE4C4;

.black{
    color:$black
}

.button.blue,.pill.blue{
    background: $deep-blue;
    color:white;
}

.button.red,.pill.red{
    background:$error;
    color: white;
}

.button.deep-yellow,.pill.deep-yellow{
    background:$deep-yellow;
    color: white;
}
.button.maddie-green,.pill.maddie-green{
    background:$maddie-green;
    color: white;
}

.error-text{
    color:$error
}