@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap');

@font-face {
    font-family: 'Product Sans';
    src: url('./fonts/product_sans.ttf');
    font-weight: normal;
}
@font-face {
    font-family: 'Product Sans';
    src: url('./fonts/product_sans_italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Product Sans';
    src: url('./fonts/product_sans_bold.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Product Sans';
    src: url('./fonts/product_sans_bold_italic.ttf');
    font-weight: bold;
    font-style: italic;
}
